# Logs e.g. npm-error logs (npm-debug.log)
*.log

# npm-installed modules
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/
package-lock.json

# JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.idea/
*.iml

# OSX Folder metadata
.DS_Store

# documentation
docs/

# coverage
coverage/

# auth file in examples
example/auth.js
